* {
  margin: 0px;
  margin-top: 2px;
  background-color: burlywood;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Extra small devices (600px and down) */
@media only screen and (max-width: 600px) {
  * {
    background-color: rgb(219, 210, 197);
  }
}
/* Small devices (600px and up) */
@media only screen and (min-width: 600px) {
  * {
    background-color: rgb(209, 193, 171);
  }
}
/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
  * {
    background-color: burlywood;
  }
}
/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
  * {
    background-color: rgb(219, 157, 75);
  }
}
/* Extra large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
  * {
    background-color: rgb(218, 123, 0);
  }
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#producto {
  height: 33%;
  width: 33%;
}
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  height: 100%;
}
img {
  width: 100%;
}
.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.contenedor img {
  width: 100%;
  margin: 1em;
  text-align: center;
}
.contenedor h2 p {
  text-align: center;
}
form {
  text-align: center;
}

label span {
  color: grey;
}
label input:checked + span {
  color: black;
}
#cb_validation:empty {
  display: none;
}

#cb_validation {
  background:red;
  color: black;
  padding: 6px 10px;
  margin: 5px 0;
  display: block;
}
